.signInBox{
    width: 100%;
    max-width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    h1{
        margin-bottom: 2rem;

        font-size: 2.5rem;
        font-weight: 400;
    }
}

.signInForm{
    width: 100%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 0;

    input{
        width: 350px;

        padding: 0.9rem 1.8rem;
        margin-bottom: 0.25rem;

        font-size: 0.9rem;
        color: #fff; 

        border: 0;
        background: #1f2029;
        outline: none;
    }

    span{        
        margin-bottom: 0.75rem;
        
        font-size: 0.7rem;
        color: #cf0202;
    }

    button{
        width: 350px;

        padding: 0.9rem 2rem;

        border: 0;
        background: #ff008e;
        color: #fff;

        transition: filter 0.2s;
    }

    button:hover{
        filter: brightness(0.8);
    }

    .signUpButton{
        width: 350px;

        padding: 0.9rem 2rem;

        border: 0;
        background: #eba417;

        color: #fff;

        transition: filter 0.2s;
    }

    .signUpButton:hover{
        filter: brightness(0.8);
    }

    .separator{
        margin: 1rem 0;
        color: #e1e1e6;
    }
}