.signInBox{
    width: 100%;
    height: 100vh;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem;
    margin: 0 auto;

    background: #17171a;

    h1{
        margin-bottom: 4rem;

        font-size: 2.5rem;
        font-weight: 400;
    }

    .signUpButton{
        width: 350px;

        padding: 1rem 2rem;
        margin-bottom: 2rem;

        border: 0;
        background: #eba417;
        color: #fff;

        transition: filter 0.2s;
    }

    .signUpButton:hover{
        filter: brightness(0.8);
    }

    .separator{
        margin: 1rem 0;
        color: #e1e1e6;
    }
}

.signInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
        width: 350px;

        padding: 1rem 2rem;
        margin-bottom: 0.75rem;

        color: #e1e1e6;

        border: 0;
        background: #29292e;
        outline: none;
    }

    button{
        width: 350px;

        padding: 1rem 2rem;

        border: 0;
        background: #ff008e;
        color: #fff;

        transition: filter 0.2s;
    }

    button:hover{
        filter: brightness(0.8);
    }
}