.content{
    h2{
        margin-bottom: 1.5rem;

        font-size: 1.10rem;
        font-weight: 400;
        color: #a8a8b3;
    }

    ul{
        margin-bottom: 2rem;
        list-style: none;

        li{
            display: flex;
            align-items: center;

            padding-bottom: 1.75rem;

            font-size: 0.9rem;
            cursor: pointer;

            svg{
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }

        li:hover{
            text-decoration: underline;
        }
    }

    button{
        width: 150px;
        padding: 0.7rem 1rem;

        border: 0;
        background: #ff008e;
        color: #fff;

        transition: filter 0.2s;
    }

    button:hover{
        filter: brightness(0.8);
    }
}