.container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
}

.pageContent{
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 2rem;
}